@-webkit-keyframes fallingleft {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: -10vh;
  }
  to {
    top: 100vh;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes fallingleft {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: -10vh;
  }
  to {
    top: 100vh;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes fallingright {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: -100vh;
  }
  to {
    top: 100vh;
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes fallingright {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: -100vh;
  }
  to {
    top: 100vh;
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@-webkit-keyframes downfalling {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes downfalling {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5;
    box-shadow: 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #B9BDC5, 2px -2px #B9BDC5, 3px -3px #B9BDC5, 4px -4px #B9BDC5;
    box-shadow: 1px -1px #B9BDC5, 2px -2px #B9BDC5, 3px -3px #B9BDC5, 4px -4px #B9BDC5;
    -webkit-transform: translateX(-4px) translateY(4px);
    transform: translateX(-4px) translateY(4px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5;
    box-shadow: 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5, 0 0 #B9BDC5;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #B9BDC5, 2px -2px #B9BDC5, 3px -3px #B9BDC5, 4px -4px #B9BDC5;
    box-shadow: 1px -1px #B9BDC5, 2px -2px #B9BDC5, 3px -3px #B9BDC5, 4px -4px #B9BDC5;
    -webkit-transform: translateX(-4px) translateY(4px);
    transform: translateX(-4px) translateY(4px);
  }
}

@-webkit-keyframes princessfallingr {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(100vh) rotate(359deg);
            transform: translateY(100vh) rotate(359deg);
  }
}

@keyframes princessfallingr {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(100vh) rotate(359deg);
            transform: translateY(100vh) rotate(359deg);
  }
}

@-webkit-keyframes princessfallingl {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(100vh) rotate(359deg);
            transform: translateY(100vh) rotate(359deg);
  }
}

@keyframes princessfallingl {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(100vh) rotate(359deg);
            transform: translateY(100vh) rotate(359deg);
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@font-face {
  font-family: 'abs';
  src: local("Abs"), url("../fonts/ka1.ttf") format("truetype");
}

html, body, main {
  overflow: visible;
  font-family: 'abs';
}

main {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, transparent), color-stop(50%, white));
  background: linear-gradient(transparent 33%, white 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: left;
}

nav {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

nav #logo {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  padding-left: 20px;
  color: #FF4F00;
}

nav #logo .logo-img {
  margin-top: -5px;
  margin-right: 3px;
  width: 30px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

nav #logo .M {
  font-size: 30px;
  margin-right: 3px;
}

nav #logo .clicker {
  margin-left: 2px;
  color: #fff;
}

nav #logout {
  margin: 13px 0;
  margin-right: 20px;
  text-align: right;
  position: absolute;
  width: 500px;
  right: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav #logout a {
  margin-left: 10px;
}

nav #logout a:hover {
  color: yellow;
}

.container {
  position: relative;
  margin-top: 20px;
  width: 30%;
  padding-bottom: 50px;
}

.container #coins {
  font-size: 40px;
  color: yellow;
  text-shadow: 0 0 10px orange;
}

.container #btn-img {
  width: 150px;
}

.container #click_power {
  font-size: 24px;
}

.container #auto_click_power {
  font-size: 20px;
  color: green;
}

aside {
  margin-top: 20px;
  width: 70%;
  padding-bottom: 50px;
}

aside h3 {
  font-size: 40px;
}

aside #boosts-holder {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside #boosts-holder a {
  text-decoration: none;
}

aside #boosts-holder .mush-div {
  position: relative;
  border-radius: 10px;
  border: 1px solid darkgray;
  margin: 10px;
  padding: 10px;
  width: auto;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  line-height: .5;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

aside #boosts-holder .mush-div:nth-child(3n+3) {
  border: 5px solid #18FF6D;
}

aside #boosts-holder .mush-div:hover {
  background-color: #18FF6D;
}

aside #boosts-holder .mush-div a p {
  margin: 0;
}

aside #boosts-holder .mush-div p {
  margin: 0;
  color: #000;
}

aside #boosts-holder .mush-div i {
  font-weight: 900;
}

aside #boosts-holder .mush-div span {
  display: inline-block;
}

aside #boosts-holder .mush-div img {
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
  width: 50px;
  height: 50px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  margin-bottom: 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

aside #boosts-holder .mush-div #boost_power, aside #boosts-holder .mush-div .fa-plus, aside #boosts-holder .mush-div .power {
  margin-top: 10px;
}

aside #boosts-holder .mush-div #boost_price {
  color: orange;
}

aside #boosts-holder .mush-div .mushroom-coins {
  pointer-events: none;
  overflow: visible;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  -webkit-mask: url("../svg/mushroom.svg") no-repeat 100% 100%;
          mask: url("../svg/mushroom.svg") no-repeat 100% 100%;
  background-color: red;
}

aside #auto {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 10px;
  background: #18FF6D;
}

#sky {
  display: block;
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  z-index: -1;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.fall-mush {
  width: 100%;
  height: 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

#footer {
  z-index: 10;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 500;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #101010;
  padding: 5px 50px;
}

#footer p, #footer a {
  margin: 0 10px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#footer img {
  display: inline-block;
  width: 40px;
  height: 40px;
}
